/*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */
/*
  @title: All screen views
 */
%all-view-navigation-links {
	@include navigation-links;
}

%no-breadcrumb-icon {
	content: none;
	padding: 0;
}

#wb-bar {
	background: #474747;
}

#wb-bnr {
	background: {
		color: $banner-gradient-end;
		image : linear-gradient($banner-gradient-start, $banner-gradient-start, $banner-gradient-end);
	}
	filter: unquote("progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#{$banner-gradient-start}', endColorstr='#{$banner-gradient-end}')");
}

#wb-sttl {
	a {
		@extend %all-view-navigation-links;
		color: #FFFFFF !important;
	}
}

#wb-bc {
	.breadcrumb {
		margin-bottom: 0;
		background: transparent;
	}

	li {
		&:before,
		&:after {
			font-family: "Glyphicons Halflings";
			font-size: 0.7em;
			color: #333;
		}

		&:before {
			content: "\e092";
		}

		&:first-child {
			&:before {
				@extend %no-breadcrumb-icon;
			}
		}
	}
}

#wb-dtmd {
	float: right;
}

#wb-info {
	li {
		margin-bottom: 0.75em;
	}
}

[dir=rtl] {
	#wb-bc {
		li {
			&:before {
				@extend %no-breadcrumb-icon;
			}

			&:after {
				content: "\e091";
				padding: 0 5px;
			}

			&:first-child {
				&:after {
					@extend %no-breadcrumb-icon;
				}
			}
		}
	}

	#wb-dtmd {
		float: left;
	}
}
